{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}
<div class="col-12 mb-5">
    {% if user.is_authenticated %}
    <a class="btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить продукт</a>
    {% endif %}
</div>
{% for product in object_list %}
<div class="col-8">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ product.price }}$</h1>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li style="text-align: center;">{{ product.description|truncatechars:100 }}</li>
                <li style="text-align: center;">
                    <img
                            src="{{ product.preview|mymedia }}"
                            alt="Product image">

                </li>
                <li>
                    {% for version in actual_versions %}
                    {% if version.product == product %}
                    Актуальная версия №{{ version.number }} - {{ version.name }}
                    {% endif %}
                    {% endfor %}
                </li>

            </ul>
            <div class="btn-group">
                <a href="{% url 'catalog:product_page' product.id %}" type="button"
                   class="btn btn-lg btn-block btn-outline-primary">Купить</a>
                {% if user.is_authenticated and perms.catalog.set_published or user == product.salesman %}
                <a href="{% url 'catalog:update_product' product.id %}" type="button"
                   class="btn btn-lg btn-block btn-outline-primary">Изменить</a>
                {% endif %}
                <a href="{% url 'catalog:delete_product' product.id %}" type="button"
                   class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}